body {
    font-family: 'Cormorant Garamond', sans-serif;
    background: #e6ffe2;
    color: #1f5607;
    font-size: 15px; 
    margin: 0px;
    padding: 0px;
    box-sizing: none;
    text-transform: uppercase;
}

.container {
    width: 95%;
    align-items:center;
}


.invite {
    min-height: 90vh;
    margin: 10px;
    align-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
    border-bottom: 1px solid #1f5607;
}

img {
    max-width: 100%;
    height: auto;
}


/* form */
#rsvp {
    min-width: 90%;
    margin: 10px;
    padding-top: 50px;
}

.form-group > label {
    font-style: italic;
    transform-origin: 0 0;
    transform: scale(1.2) translateY(30px);
    transition: 0.2s;
}

.form-group.not-empty > label {
    transition: 0.2s;
    transform: none;
}

.form-check {
    padding-left: 25px;
}

.form-check-label {
    font-style: italic;
    transform: scale(1.2);
    margin-left: 30px;
}

.form-check-input {
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  border: #1f5607 1px solid;
}

.form-control#name,
.form-control#email,
.form-control#guests {
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #1f5607;
    background: none;
    pointer-events: none;
    position: relative;
    z-index: 5;
}

.form-control,
.form-control:focus,
.form-control:focus:hover {
    color: #373434;
    background: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #1f5607;
}

#clabel {
    font-style: italic;
    transform: scale(1.2) translateX(5px);
}

input:disabled#guests,
input:disabled#guests,
input:disabled#guests {
  background-color: #aaaaaa83;
}


/* send */
.form-control.send {
    margin: 0px;
    padding: auto;
}

.btn-outline-success {
    color: #1f5607;
    border-color: #1f5607;
}

.btn-outline-success:hover {
    background-color: #1f5607;
    color: #e6ffe2;
}



@media(min-width:980px) {

    .container {
        display: flex;
        align-items: center;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    img {
        content: url('../weddinginvitation.png');
    }

    .invite {
        width: 50%;
        border-bottom: none;
        border-right: 1px solid #1f5607;
        padding-right: 10px;
    }

    #rsvp {
        min-width: 50%;
        padding-left: 30px;
    }

    .form-check {
        padding-left: 50px;
    }

}
